@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    text-align: center;
    
}

.day-week {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    padding: 10px 0;
    color: #302e2e;
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;

}

.info-content-input-add {
    width: 90%;
    text-indent: 10px;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    word-wrap: break-word;
    cursor: pointer;
}


.task-text {
    flex: 1;
    font-size: 16px;
}

.completed {
    text-decoration: line-through;
    color: #ffffff;
    background-color: #28a745;
}

.delete-icon {
    color: #ff0000;
    cursor: pointer;
}

.add-task {
    margin-bottom: 10px;
    display: flex;
    gap: 5px;
    justify-content: center;
    margin-top: 20px;
}

.task-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.add-button {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.add-button:hover{
    background-color:#3994f5;
}

.message {
    margin-top: 50px;
    color: #b0b0b0;
    font-size: 1rem;
    font-weight: 400; 
}

@media (min-width: 700px) {
    .container {
        width: 700px;
    }
}